* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.title {
    background-color:#7F72FF;
    padding-top: 2%;
    color:#fff;
    font-size:40px;
}

.cleanStyle::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }
.red { color: #FF5049 !important; }
.redfocus:focus { border: 1px solid #FF5049 !important; }

.header {
    background-size: cover;
    background-position: center;
    color: #fff;
    background-color:#7F72FF;
    padding-bottom: 3%;
}

.budget {

    color: #fff;
}

.budget_title{
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    margin-top: 3%;
}

.budget_value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget_entry,
.budget_exit {
    padding: 12px;
    text-transform: uppercase;
}

.budget_entry {
    margin-bottom: 10px;
    background-color: #28B9B5;
}

.budget_exit {
    background-color: #FF5049;
}

.budget_entry--text,
.budget_exit--text {
    float: left;
    font-size: 13px;
    color: #fff;
    margin-top: 2px;
}

.budget_entry--value,
.budget_exit--value {
    letter-spacing: 1px;
    float: left;
}

.budget_entry--percentage,
.budget_exit--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-left: 10px;
}

.budget_exit--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add_container {
    margin: 0 auto;
    text-align: center;
}

.add_type {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
    margin-bottom: 2%;
}

.add_description,
.add_value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    margin-bottom: 2%;
}

.add_description { width: 400px;}
.add_value { width: 100px;}

.add_btn {
    font-size: 22px;
    background: none;
    border: none;
    color: #7F72FF;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add_btn:active { transform: translateY(2px); }

.add_type:focus,
.add_description:focus,
.add_value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add_btn:focus { outline: none; }

.entry {
    float: left;
    width: 370px;
    margin-right: 70px;
}

.exit {
    float: left;
    width: 370px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.entry_title { color: #28B9B5; }
.exit_title { color: #FF5049; }

.element {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.element:first-child { border-top: 1px solid #e7e7e7; }
.element:nth-child(even) { background-color: #f7f7f7; }

.element_description {
    float: left;
}

.element_value {
    float: left;
    transition: transform 0.3s;
}

.element_percentage {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 45px;
    text-align: center;
}

.entry .element_value,
.entry .element_remove--btn {
    color: #28B9B5;
}

.exit .element_value,
.exit .element_percentage,
.exit .element_remove--btn {
    color: #FF5049;
}


.element_remove {
    float: left;
}

.element_remove--btn {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.element_remove--btn:focus { outline: none; }
.element_remove--btn:active { transform: translateY(2px); }

.element:hover .element_remove--btn { display: block; }
.element:hover .element_value { transform: translateX(-20px); }
.element:hover .element_percentage { transform: translateX(-20px); }
